set scrolloff=1000
set incsearch
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
set ideajoin
set surround
set visualbell
set noerrorbells
set rnu
set nu

set clipboard+=unnamedplus

let mapleader = ","

let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
set quickscope

map <leader>fa <Action>(GotoAction)
map <leader>fc <Action>(GotoClass)
map <leader>fe <Action>(SearchEverywhere)
map <leader>ff <Action>(GotoFile)
map <leader>fg <Action>(FindInPath)
map <leader>fd <Action>(GotoDeclaration)
map <leader>fr <Action>(FindUsages)
map <leader>ft <Action>(GotoTypeDeclaration)

map <c-n> <Action>(List-selectNextRow)
nnoremap <c-n> :action GotoNextError<CR>
nnoremap <c-p> :action GotoPreviousError<CR>

map <leader>i <Action>(Inline)
map <leader>rc <Action>(IdeaVim.ReloadVimRc.reload)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>er <Action>(Run) 
map <leader>ca <Action>(ShowIntentionActions)
map <leader>oe <Action>(ShowErrorDescription)
map <leader>rn <Action>(RenameElement)
map <leader>fm <Action>(ReformatCode)

noremap <c-h> <c-w>h
noremap <c-j> <c-w>j
noremap <c-k> <c-w>k
noremap <c-l> <c-w>l

map <leader>m <Action>(EditorDecreaseFontSize)
map <leader>s <Action>(EditorIncreaseFontSize)
