snippet (
	(
		$1
	)

snippet [
	[
		$1
	]

snippet {
	{
		$1
	}

snippet )
		($1)

snippet ]
		[$1]

snippet }
		{$1}

snippet inc
	${1:var} = ${1:var} + 1;

snippet cmpn
	#[derive(Component)] struct $1;

