snippet join
	${1|INNER,LEFT,RIGHT,FULL,CROSS|} JOIN ${2:table_name} ON ${3:condition}

snippet type "SQL data type"
	${1|INT,BIGINT,SMALLINT,DECIMAL,NUMERIC,FLOAT,REAL,DOUBLE,CHAR,VARCHAR,TEXT,DATE,TIME,DATETIME,TIMESTAMP,BOOLEAN,BLOB,CLOB|}
