* {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    min-height: 0px;
    min-width: 50px;

    background-color: #000000; /* or transparent */
    color: #ffffff;
    margin-left: 20px;
}
