window#waybar {
    background-color: #000000; /* or transparent */
    color: #ffffff;
}
#workspaces button {
    background-color: transparent;
    color: #ffffff;
}
#workspaces button.active {
    background-color: #444444;
}
